
.curr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    margin: auto;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    gap: 20px;
}



.currently-cover {
    width: 170px;          /* feste Breite für alle Cover */
    height: 250px;         /* feste Höhe, optional je nach Design */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s;
    object-fit: cover;     /* Bild wird zugeschnitten, aber füllt die Box */
    cursor: pointer;
}

.currently-cover:hover {
transform: scale(1.03);
}

.currently-info {
    margin-top: 10px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background: #353434ff;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px 0;
    cursor: pointer;
}


.progress-bar .progress {
    height: 100%;
    width: 0%;
    transition: width 0.5s ease;
    background: linear-gradient(90deg, #ff7f50, #92230bff); /* Verlauf von Hellblau zu Dunkelblau */
    border-radius: 5px;
}



@media (max-width: 740px) {
    .curr {
        gap: 8px; /* Weniger Abstand bei kleinen Displays */
    }

    .currently-cover {
        width: calc(50% - 30px); /* Passt zwei Bilder pro Zeile an */
        height: auto; /* Stellt sicher, dass das Seitenverhältnis beibehalten wird */
    }


    .progress-bar {
        width: calc(50% - 30px);
        height: 10px;
        background: #353434ff;
        border-radius: 5px;
        overflow: hidden;
        margin: 5px 0;
        cursor: pointer;
    }
}