
.curr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    margin: auto;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    gap: 20px;
}



.currently-cover {
    width: 170px;          /* feste Breite für alle Cover */
    height: 270px;         /* feste Höhe, optional je nach Design */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.9s, opacity 0.9s; /* opacity für Hover-Transparenz */
    object-fit: cover;     /* Bild wird zugeschnitten, aber füllt die Box */
    cursor: pointer;
}

.cover-wrapper:hover .currently-cover {
    opacity: 0.6;       /* Transparenz beim Hover */
    transform: scale(1.03);
}

.currently-cover:hover {
transform: scale(1.03);
}

.currently-info {
    margin-top: 10px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background: #353434ff;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px 0;
    cursor: pointer;
}


.progress-bar .progress {
    height: 100%;
    width: 0%;
    transition: width 0.5s ease;
    background: linear-gradient(90deg, #ff7f50, #92230bff); /* Verlauf von Hellblau zu Dunkelblau */
    border-radius: 5px;
}

.cover-wrapper {
    position: relative;
    display: inline-block;
}



.finish-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    background: rgba(20, 20, 20, 0.65);
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
    border: none;

    opacity: 0;           /* unsichtbar standardmäßig */
    transition: opacity 0.3s ease, transform 0.2s ease;
    pointer-events: none; /* verhindert Klicks, wenn unsichtbar */
}

.cover-wrapper:hover .finish-btn {
    opacity: 1;
    pointer-events: all;   /* Button anklickbar beim Hover */
    transform: translate(-50%, -50%) scale(1.05);
}

.finish-btn:hover {
    background: #a2bba3;
    transform: translate(-50%, -50%) scale(1.1);
}

#close-icon {
    display: none; /* Startzustand ausgeblendet */
}

@media (max-width: 740px) {
.curr {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px; /* Abstand zwischen Bild und Text */
    }
    
    .currently-cover {
        width: 120px; /* Feste Breite bleibt erhalten */
        height: 190px;
    }

    .currently-info {
        display: flex;
        flex-direction: column; /* Elemente untereinander anordnen */
        flex-grow: 1; /* Füllt den verbleibenden Platz */
    }

    .progress-bar {
        width: 120px; /* Passt sich der vollen Breite des currently-info-Containers an */
        height: 10px;
    }
}

    /* Ergänzung für große Bildschirme */
@media (min-width: 1400px) {
    h2 {
      font-size: 7rem;
    }
}

