/* Hauptcontainer fürs Jahr */
.lesejahr-2025 {
    max-width: 700px;      /* Beispiel: max-Breite des Gesamtcontainers */
    margin: auto;          /* zentriert */
    background: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
}

/* Jeder Monat ist ein eigener Block: Button + Inhalt */
.monat-block {
    display: inline-block;
    margin: 5px;
    vertical-align: top;
}

/* Monats-Button */
.monat-btn {
    background-color: rgb(141, 14, 56);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
    width: 100px;
    transition: background-color 0.3s;
    text-align: center;
}

/* Aktiver Button */
.monat-btn.active {
  background-color: #63b8ff;   /* Beispiel Farbe */
  color: white;
}


/* Hover */
.monat-btn:hover {
    background-color: rgb(65, 14, 141);
}

.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 10px;
  background-color: aliceblue;
  border-radius: 6px;
}


/* Sichtbar */
.collapse.show {
    display: block;
    border-radius: 6px;
}

/* Handy-Ansicht: Buttons untereinander */
@media (max-width: 740px) {
    .monat-block {
        display: block;
        width: 100%;
    }

    .monat-btn {
        width: 100%;
    }
}
