.navbar {
    background-color: #1f1f1f;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-radius: 8px;
    margin: 0;
    height: 50px;
    transition: height 0.1s ease-in-out;
    font-family: "Bebas Neue", sans-serif;
}

.hidden-iframe {
    display: none;
}

#close-icon {
    display: none; /* Startzustand ausgeblendet */
}


.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    position: relative; 
    padding: 0 20px;
    font-size: 13pt;
    text-align: left;
    white-space: nowrap;
    font-family: "Dosis", sans-serif;
}

.nav-links a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 400;
}

.nav-links a:hover {
    text-decoration: none;
    color: khaki;
    font-weight: bold;
}

.navbar-expanded {
    height: 150px;
}

.toggle-button {
    cursor: pointer;
    display: none;
    float: right;
    margin-left: auto;
}

.logohome {
    color: whitesmoke;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-size: 27pt; 
    display: flex; 
}

.logohome:hover {
    text-decoration: none;
    color: khaki;
    font-weight: bold;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-radius: 0; /* optional: abgerundet entfernen */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Schatteneffekt */
}

@media (max-width: 1366px) {
 .logohome {
        font-size: 21pt; 
    }
}


@media (max-width: 840px) {

    .navbar {
        margin: 0;
        padding: 1vh;
        height: 50px;
        background-color: #1f1f1f;
    }

    .navbar.expanded {
        height: auto; 
        transition: height 0.1s ease-in-out;
        background-color: #1f1f1f;
    }

   
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 50px;
        width: 100%;
        font-family: "Amatic SC", serif;
    }

    .nav-links li {
        padding: 0;
        font-size: 13pt;
        margin: 0;
        font-family: "Dosis", sans-serif;
        color: whitesmoke;
    }

           

  
    .toggle-button {
        display: flex;
        color: whitesmoke;
    }


    .toggle-button:hover {
    color: khaki;
    font-weight: bold;
    }

    .nav-links.active {
        display: flex;
        background-color: #1f1f1f;
    }

    .nav-links .dropdown-menu li a {
        font-size: 13pt;
    }

   
    .logohome {
        color: whitesmoke;
        text-decoration: none;
         font-family: "Bebas Neue", sans-serif;
        font-weight: normal;
        font-size: 16pt; 
        display: flex;
        height: auto;
    }

    .nav-links a:hover {
    text-decoration: none;
    color: khaki;
    font-weight: bold;
    }

    .logohome:hover {
    text-decoration: none;
    color: khaki;
    font-weight: 400;
    }


}



