.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

.pie-pixel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  background-color: #1f1f1f;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%; 
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

#longshort-container-unique,
.piesub,
.pie, 
.pie-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  background-color: #1f1f1f;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%; 
  padding: 0rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

#longshort-container-unique {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  background-color: #1f1f1f;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height:  auto; 
  padding: 0rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.ziele-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    padding: 1.5rem 0;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}


.challenge-container {
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem 0;
    box-sizing: border-box;
    background-color: #1f1f1f;
    font-family: "Bebas Neue", sans-serif;
}




.pie-pixel:hover,
.pie:hover,
.pie-container:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}


.pie-pixel h3, 
.pie h3, 
.piesub h3, 
.pie-container h3 {
    min-height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.25rem;
    color: #a2bba3;
    margin: 10px;
}

canvas {
  width: 100% !important;
  height: auto !important;
  max-width: 100%;
  display: block;
  cursor: pointer;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  display: block;
}



#sternemonthChart,
#neumonthChart,
#averagemonthChart,
#daysaudioChart,
#minutenmonthChart,
#bookmonthChart,
#ausgabenChart,
#subChart,
#autorChart,
#verlagChart,
#sprachenChart {
    height: 350px;  
    font-family: "Dosis", sans-serif;
  }

#subChart {
  height: 100% !important;
}


body {
  font-family: 'Dosis', sans-serif;
  color: white;
  background-color: #000; 
}

#besthoeren-summe,
#bestlesen-summe,
#sterne,
#average,
#bestday-summe,
#books-summe,
#seiten-summe,
#minuten-summe,
#neuzugaenge-summe,
#highlight-summe,
#flop-summe,
#ausgaben-summe,
#abgebrochen-summe {
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    background-color: #FFB90F;
    color: #222;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin: 35px auto;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertikal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    /* Benutzer kann Text nicht auswählen - Cross-Browser */
    -webkit-user-select: none; /* Safari 3+, iOS 3+ */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;         /* Standard */

    font-family: "Dosis", sans-serif;
}


#sterne,
#average,
#books-summe,
#neuzugaenge-summe {
    font-size: 5rem;
}



#ausgaben-summe {
    font-size: 3rem;
}

#besthoeren-summe,
#bestlesen-summe {
  font-size: 1.5rem;
  line-height: 1.7rem;
  width: 120px;
  height: 120px;
}

.legendaudiodays,
.legenddays {
    font-family: "Dosis", sans-serif;
    font-size: 8px;
}
#close-icon {
    display: none; /* Startzustand ausgeblendet */
}

#umfangChart,
#geschlechtChart,
#formatChart,
#statusChart,
#genreChart,
#subgenreChart,
#tempoChart,
#stimmungChart,
#themenChart {
  max-width: 300px;
  height: auto;
}

.grid-ziel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    flex-wrap: wrap; 
    background-color: #1f1f1f;
}

hr {
    border: none;
    background-color: #353434ff;
    width: 2px;
    height: 150px;
    margin: 0 1rem;
}

.card {
    background-color: #1f1f1f;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}



.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  background-color: #1f1f1f;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden; 
  border: none;
  cursor: pointer;
}

/* Falls der Abstand durch .challenge-container kommt: */
.challenge-container {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.carousel-container:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 12px;
  list-style: none;
  width: auto;
}

.carousel-track-container {
  width: 100%;
}

.carousel-slide {
  width: 100% !important;
  height: auto !important;
  max-width: 100%;
  flex-shrink: 0;
  margin-bottom: -1rem;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none; /* Nur Buttons fangen Events ab */
}

.carousel-controls button {
  background: #007bff;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  line-height: 36px;

  /* Benutzer kann Text nicht auswählen */
  -webkit-user-select: none; /* Safari 3+, iOS 3+ */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Standard */
}


.carousel-dots {
  text-align: center;
  margin-top: 0rem;
}

.carousel-dots .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #888;
  border-radius: 50%;
  margin: 2px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-dots .dot.active {
  background-color: #ff7256;
}

#longshort-container-audio,
#longshort-container-unique {
      max-width: 700px;
      margin: 20px auto;
      font-family: Arial, sans-serif;
      background-color: #1f1f1f;
      border-radius: 8px;
    }

    #longshort-container-audio h3,
    #longshort-container-unique h3 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 1.3rem;
      font-family: "Dosis", sans-serif; 
      color: rgb(179, 220, 202);
      font-weight: bold;
    }

    .longshort-wrapper-audio, 
    .longshort-wrapper-unique {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }

    .longshort-book-audio,
    .longshort-book-unique {
      text-align: center;
      max-width: 45%;
    }

    .longshort-cover-audio,
    .longshort-cover-unique {
      max-width: 70%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 0 8px rgba(0,0,0,0.2);
    }


    .longshort-error-audio,
    .longshort-error-unique {
      text-align: center;
      font-weight: bold;
    }


    .longshort-heading-audio,
    .longshort-heading-unique {
  font-family: 'Bebas Neue', sans-serif;
  margin-bottom: 1rem;
  font-size: 2.25rem;
  color: rgb(165, 184, 201);
}


.longshort-title-unique,
.longshort-title-unique {
  font-family: 'Dosis', sans-serif;
  color: whitesmoke;
  font-size: 1rem;
  text-align: center;
  font-weight: normal;
}


@media (max-width: 940px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        }
    }

@media (max-width: 740px) {
    .grid-ziel {
        flex-direction: column;
    }

    hr {
        width: 80%; /* Beispiel: 80% Breite des Containers */
        height: 2px; /* Setzt die Höhe auf eine dünne Linie */
        margin: 20px 0; /* Fügt vertikalen Abstand hinzu */
        border: none;
        }
    

    .grid {
        grid-template-columns: 1fr;
    }

    .pie {
        font-size: 2.25rem;
        max-height: 100%;
    }

    .piesub {
      height: 450px;
    }

    
    #subChart {
      height: 450px;
    }

    .pie h3 {
        font-size: 2.5rem;
        word-break: break-word;
    }

    canvas {
        max-height: 100%;
    }

    .carousel-slide {
      width: 100% !important;
      height: auto !important;
      max-width: 100%;
    }

    .carousel-track {
      margin-bottom: -12px;
    }

    #besthoeren-summe,
    #bestlesen-summe,
    #sterne,
    #average,
    #bestday-summe,
    #books-summe,
    #seiten-summe,
    #minuten-summe,
    #neuzugaenge-summe,
    #highlight-summe,
    #flop-summe,
    #ausgaben-summe,
    #abgebrochen-summe,
    #sterne,
    #average,
    #books-summe,
    #neuzugaenge-summe,
    #ausgaben-summe,
    #besthoeren-summe,
    #bestlesen-summe {
      padding-bottom: 72px;
      color: rgb(180, 201, 201);
      background-color: #1f1f1f;
      box-shadow: 0 0 0  rgba(0, 0, 0, 0.2);
    }

  }
  
/* Ergänzung für große Bildschirme */
@media (min-width: 1400px) {
    h2 {
      font-size: 7rem;
    }
}
