.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: stretch;
}

.pie {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    background-color: #1f1f1f;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%; 
    padding: 0.3rem;
    box-sizing: border-box;
}

.pie:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.pie h3 {
    min-height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.25rem;
    color: rgb(90, 165, 142);
    margin: 10px;
}

canvas {
  width: 100%;
  height: 250px;
  cursor: pointer;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.15));
}

#bookmonthChart,
#ausgabenChart,
#subChart,
#genderChart,
#umfangChart
#autorChart,
#verlagChart,
#sprachenChart {
    height: 200px;  
    font-family: "Dosis", sans-serif;
}



body {
  font-family: 'Dosis', sans-serif;
  color: white;
  background-color: #000; 
}

#books-summe,
#seiten-summe,
#minuten-summe,
#neuzugaenge-summe,
#highlight-summe,
#flop-summe,
#ausgaben-summe,
#abgebrochen-summe {
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    background-color: #FFB90F;
    color: #222;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    user-select: none;
    font-family: "Dosis", sans-serif;
}

#books-summe,
#neuzugaenge-summe {
    font-size: 5rem;
}

#ausgaben-summe {
    font-size: 3rem;
}



@media (max-width: 940px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 740px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .pie {
        font-size: 2.25rem;
        padding: 1rem;
        min-height: auto;
    }

    .pie h3 {
        font-size: 2.5rem;
        padding: 0 0.5rem;
        word-break: break-word;
    }
}
