    .dosis {
        font-family: "Dosis", sans-serif;
        font-weight: 800;
        font-style: normal;
    }
    
    .bebas-neue-regular {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    body {
      margin: 0;
      font-family: "Dosis", sans-serif;
      background-color: #121212;
      color: #ffffff;
      line-height: 1.6;
    }

    header {
      background-color: #1f1f1f;
      text-align: center;
      cursor: none;
    }

    footer {
      background-color: #1f1f1f;
      padding: 1rem;
      text-align: center;
      cursor: text;
    }

    main {
      padding: 2rem;
      max-width: 1200px;
      margin: auto;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
    }

    .card {
      background-color: #1e1e1e;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
      cursor: pointer;
    }

    a {
        text-decoration: none;
        color: whitesmoke;
    }

    h1 {
        font-family:  "Bebas Neue", sans-serif;
        font-size: 50pt;
        color: khaki;
    }

    #addbook {
        background-color: rgb(92, 92, 61);
    }

    .top-button {
            display: flex;
        }

        #backToTop {
            position: fixed;
            bottom: 20px;
            right: 20px;
            display: none;
            padding: 10px;
            background-color: rgb(224, 224, 87);
            color: black;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            height: auto; 
        }

    
    @media (max-width: 1024px) {
      .grid {
        grid-template-columns: 1fr 1fr;
      }
    }

    @media (max-width: 600px) {
      .grid {
        grid-template-columns: 1fr;
      }

      main {
        padding: 1rem;
      }
    }


